<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/index.css">
    <title>AKGEC</title>
</head>

<body>
    <!-- defining the header content of the web page -->
    <div style="position: fixed; background-color: white; margin: 0;padding: 0;
    margin: -15px;
    padding: 7px;
  ">
        <div class="content">
            <img src="/static/image\75azadi.jpeg" height="83px" , width="98px">
            <img src="/static/image\Akgeclogo.png" alt="this image is not uploaded" height="83px" , width="98px">
            <!-- akgec heading -->
            <div class="ajaykumar">/static/


                <h1>AJAY KUMAR GARG ENGINEERING COLLEGE </h1>
                <p>(Affiliated to Dr. APJ Abdul Kalam Techical University Lucknow UP, College code -027)</p>
            </div>

            <!-- puting image webpage of akgec -->
            <img src="/static/image\3excellence.jpeg" class='exe3' alt="this image is not uploaded " height="234px" ,
                width="234px">
            <!-- putting logo of web page -->
            <img src="/static/image\NAACLogo.jpg" alt="this image is not uploaded yet" class="exe32" , height="300px" ,
                width="500px">
            <!-- creating the login page for the student -->
            <h5> AKGEC ERP Login</h5>
        </div>
        <div class="sect" style="border-bottom: 2px solid yellow; 
    height: 1.5cm; width: 100%;background: #110000;">

            <!-- creating the link for related to akgec -->
            <ul style="list-style-type:disc;">
                <li>
                    <a href='/about'>ABOUT</a>
                </li>
                <li> DEPARTMENTS</li>
                <li>ACADEMICS</li>
                <li>ADMISSIONS</li>
                <li>R&D</li>
                <li> LIFE@AKGEC</li>
                <li>ACHIEVEMENTS</li>
                <li>CENTRES OF EXCELLENCE PLACEMENTS</li>
                <li> COLLEGE PUBLICATIONS</li><br>
                <li>VE CELL</li>
                <li>ALUMNI</li>
                <li>LIBRARY</li>
                <li>IQAC AKGEC ERP LOGIN</li>
                <li><a href="/Career"> CAREER & VACCANCIES</a></li>


            </ul>
        </div>
    </div>
    <!-- creating link for all leteral entry student -->
    <h5 class="headingnotice">Notice Regarding the Commencement of First-Year/Lateral Entry Classes</h5>
    <div class="certi">
        <!-- putting image of certificate -->
        <img src="/static/image\naaccertificate.png" alt="this image is not uploaded" class="NAAC">
        <!-- heading of akgec -->
        <h1 style="color:white; margin-top:-12cm;
    margin-left: 16cm;width: 730.283px;"> AJAY KUMAR GARG ENGINNEERING COLLEGE</h1><br>


        <h3 style="color: white; margin-top: 0px;
    margin-left: 16cm; width: 588.283px;"> THE ONLY ENGINEERING COLLEGE IN UTTAR PRADESH (AKTU)
            ACCREDITED BY NAAC WITH THE HIGHEST GRADING OF</h3>

        <h1 class="A2">A++</h1>


    </div>
    <div class="imagecontent">
        <img class="imagecontent" src="https://www.akgec.ac.in/wp-content/uploads/2019/08/home-about.jpg">

        <div style="padding: 23px;">
            <b>
                The college was established in 1998 and offers B.Tech Courses in seven
                <br>
                disciplines of Engineering.
                <br>
                The college also offers M.Tech in Automationand Robotics,
                <br>
                Electronics & Communication Engineering, Computer Science,
                <br>
                Electrical and Electronics Engineering and Mechanical Engineering.
            </b>
        </div>
        <hr class="hr1">
    </div>
    <h4 class="Ourfeatured">Our Featured Course

        <hr class="horizontalLine">
    </h4>
    <div class="course">
        <div class="coursebox">
            <img src="/static/image/course1.jpg" alt="the image is not uploaded">
            <h4> B.tech</h4>
            <p>CSE, CS, CS&IT, CSE (AI&ML), CSE (DS),<br>CSE (Hindi), AI&ML, IT, ECE, ME, EN, CE</p>
            <hr>
            <div class="sanctioned">
                <p> 1320 sanctioned intake</p>
                <h5>Read more</h5>

            </div>
        </div>
        <div class="coursebox">

            <img src="/static/image/course2.jpg" style="height: 181px;" alt="the image is not uploaded">
            <h4> Master of Computer Applications (MCA)</h4>
            <p>MCA</p>
            <hr>
            <div class="sanctioned">
                <p> 120 sanctioned intake</p>
                <h5>Read more</h5>

            </div>
        </div>
        <div class="coursebox">
            <img src="/static/image/course3.jpg" alt="the image is not uploaded">
            <h4> M.tech</h4>
            <p>CSE ECE, ME, EN</p>
            <hr>
            <div class="sanctioned">
                <p> 120 sanctioned intake</p>
                <h5>Read more</h5>

            </div>
        </div>

    </div>
    <div class="studentPlaced">
        <center>

            <p> The college has been consistently maintaining excellent academic results and placements. The college has
                the distinction of being the first and only college in UP to receive the Acedemic Excellence Award for
                the Best Engineering
                College in UPTU from H.E. the Governor of UP for two successive years.</p>
            <div class="nostudent">
                <div>
                    <h3>
                        2000+
                    </h3>
                    <p>STUDENT PLACED

                        <br>(2021-22)
                    </p>
                </div>


                <div>
                    <h3>
                        2000+
                    </h3>
                    <p>STUDENT PLACED

                        <br>(2021-22)
                    </p>
                </div>

                <div>
                    <h3>
                        2000+
                    </h3>
                    <p>STUDENT PLACED

                        <br>(2021-22)
                    </p>
                </div>

            </div>
        </center>
    </div>
    <div class="advantage">
        <div class="upcomingEvent">
            <h4>Upcaming Event</h4>
            <img src="/static/upcomingEvent.jpg" alt="" height="416vh" width="400vw">
        </div>

        <div class="achievements" style>
            <h4>ACHIEVEMENTS</h4>
            <img src="/static/image\upcomingEvent.jpg" alt="" height="416vh" width="400vw">
        </div>
        <div class="deepak">
            <center>

                <img src="/static/image\DeepakSharma.jpg" alt="">
            </center>
            <h3>AKGEC student placed at highest job offer Rs. 1.13 crore/yr</h3>
            <p style="width: 362.983px;
            height: 325.667px;
          ">Ajay Kumar Garg Engineering College, Ghaziabad final year student Mr. Deepak Sharma of B. Tech Computer Science and Engineering has got selected in Amazon, Dublin at a salary package of Rs. 1 crore 13 Lacs per annum. Additionally, 27 students of AKGEC also received Rs.25.00 lakhs annual package in Amazon,Rs 28.70 lakhs to a student in Cloudera, Rs. 21 lakhs to 3 students in Walmart Global. Companies like Adobe India,Infosys, TCS, American Express,Accenture, Lowe’s India,Capgemini, Cognizant,Wipro, OLA Electric, PricewaterhouseCoopers, IBM, Birlasoft, Byju’s, Motherson Sumi,NIIT, HCL Technologies, Tech Mahindra and many more 
                have conducted the recruitment process and have offered jobs to the AKGEC students.</p>
        </div>
    </div>



    <!-- creating the footer in this web page -->
    <footer class="Foot">
        <div class="Menu">
            <div>
                <h4>
                    27th Km Milestone,<br>
                    Delhi-Meerut Expressway,<br>
                    P.O. Adhyatmik Nagar,<br>
                    Ghaziabad - 201009 <br></h4>
                <h4>


                    744052891-93 <br>
                    7290034978
                    Admissions <br>Enquiry: 1800-200-0777 <br>
                </h4>
                <h4>
                    <a href="mailto:info@akgec.ac.in" style="color: white;
                ">info@akgec.ac.in</a>
                </h4>

            </div>

        </div>
        <div class="link">
            <h2 style="color:yellow; margin: left 2cm;">QUICK LINK:</h4>
                <ul style="list-style-type: disc; padding-bottom: 2rem; color: white;">

                    <li><a href="https://www.akgec.ac.in/mba-admission-2023-25/" class="footerlink
                "> AKGIM- MBA ADDMISSION</a>

                    </li>
                    <li><a href="https://akgim.edu.in/" class="footerlink
                ">AKGIM-MBA</a>

                    </li>
                    <li><a href="https://www.akgec.ac.in/aicte-approval-letters/" class="footerlink">AICTE
                            APPROVAL-LETTERS</a>

                    </li>
                    <li><a href="https://www.akgec.ac.in/nirf-data-for-ranking-2023/" class="footerlink"> NIRF DATA FOR
                            RANKING 2023</a>

                    </li>
                    <li><a href="https://www.akgec.ac.in/mandatory-disclosure" class="footerlink
                "> MADATORY DISCLOSER</a>

                    </li>
                    <li><a href="https://www.akgec.ac.in/rd/open-educational-resources-oer/" class="footerlink"> OPEN
                            EDUCATION RESOURCES (OER)
                        </a>

                    </li>
                    <li><a href="https://www.akgec.ac.in/online-reporting-" class="footerlink">ONLINE REPORTING OF
                            RAGGING CASES</a>

                    </li>
                    <li><a href="https://www.akgec.ac.in/grievance-committee/" class="footerlink"> GRIEVENCE
                            COMMITTEE</a>

                    </li>
                    <li><a href="https://www.akgec.ac.in/wp-content/uploads/2023/04/ICC-2023.pdf" class="footerlink
                "> INTERNAL COMPLAINTS COMMITTEE</a>

                    </li>

                </ul>
        </div>
        <div class="AboutAkgec">
            <h2 style="color: yellow;">About AKGEC

            </h2>
            <P>Ajay Kumar Garg Engineering College <br>(AKGEC) offers four year <br>under graduate
                B.Tech course in<br> ten engineering branches, two year post graduate<br>
                M.Tech course in four engineering branches <br>and two year post graduate MCA course.</P>
        </div>



    </footer>


</body>

</html>